<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <title>第四週 - 元件化</title>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="text-end m-5">
          <button type="button" class="btn btn-primary" @click="openModal('create')">建立新的產品</button>
        </div>
        <div class="row">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">商品 ID</th>
                <th scope="col">類別</th>
                <th scope="col">商品名稱</th>
                <th scope="col">原價</th>
                <th scope="col">售價</th>
                <th scope="col">是否上架</th>
                <th scope="col">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="product in products" :key="product.id">
                <td scope="row">{{product.id}}</td>
                <td>{{product.selectCategories}}</td>
                <td>{{product.title}}</td>
                <td>{{product.origin_price}}</td>
                <td>{{product.price}}</td>
                <td>
                  <span v-if="product.is_enabled" class="text-success">上架</span>
                  <span v-else>下架</span>
                </td>
                <td>
                  <button type="button" class="btn btn-outline-primary btn-sm me-1" @click="openModal('edit',product)">編輯</button>
                  <button type="button" class="btn btn-outline-danger btn-sm" @click="openModal('delete',product)">刪除</button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination :pages="page" @change-page="getProduct"></pagination>
        </div>
      </div>
      <!-- productModal-->
      <div class="modal fade" id="productModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <product-modal-all :temp-product="tempProduct" :is-new="isNew" :update-product="updateProduct" :create-image="createImage"></product-modal-all>
      </div>
      <!-- deleteModal-->
      <div class="modal fade" id="deleteModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <delete-product-modal :temp-product="tempProduct" :delete-product="deleteProduct"></delete-product-modal>
      </div>
    </div>

    <!-- product-modal-template start-->
    <script type="text/x-template" id="product-modal-template">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header bg-dark">
            <h5 class="modal-title text-white" id="exampleModalLabel">{{ isNew ? '新增':'編輯' }}商品</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="imageUrl" class="form-label">主要圖片</label>
                    <input type="text" class="form-control mb-2" id="imageUrl" aria-describedby="imageUrl" placeholder="請輸入圖片連結" v-model="tempProduct.imageUrl" />
                    <img :src="tempProduct.imageUrl" class="img-fluid" />
                  </div>
                  <div class="mb-1">
                    <label class="form-label">多圖新增</label>
                    <div v-if="Array.isArray(tempProduct.imagesUrl)">
                      <template v-for="(image,key) in tempProduct.imagesUrl" :key="key + 1234">
                        <input type="text" class="form-control mb-2" placeholder="請輸入圖片連結" v-model="tempProduct.imagesUrl[key]" />
                        <img :src="tempProduct.imagesUrl[key]" alt="" class="img-fluid mb-2" />
                      </template>
                      <button
                        v-if="!tempProduct.imagesUrl.length || tempProduct.imagesUrl[tempProduct.imagesUrl.length - 1]"
                        type="button"
                        class="btn btn-outline-primary w-100 mb-2"
                        @click="tempProduct.imagesUrl.push('')"
                      >
                        新增欄位
                      </button>
                      <button v-else type="button" class="btn btn-outline-danger w-100" @click="tempProduct.imagesUrl.pop()">刪除欄位</button>
                    </div>
                    <div v-else>
                      <button type="button" class="btn btn-outline-primary w-100 mb-2" @click="createImage">新增欄位</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="mb-3">
                    <label for="productName" class="form-label">商品名稱</label>
                    <input type="text" class="form-control" id="productName" aria-describedby="productName" placeholder="請輸入商品名稱" v-model="tempProduct.title" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label w-100">商品特性</label>
                    <div class="form-check form-check-inline" v-for="feature in tempProduct.features" :key="feature">
                      <input class="form-check-input" :id="feature" type="checkbox" :value="feature" v-model="tempProduct.checkboxFeatures" />
                      <label class="form-check-label" :for="feature">{{feature}}</label>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col">
                      <label for="productCategory" class="form-label w-100">類別</label>
                      <select id="productCategory" name="productCategory" class="form-select" v-model="tempProduct.selectCategories">
                        <option value="" disabled>請選擇類別</option>
                        <option v-for="item in tempProduct.categories" :key="item" :value="item">{{item}}</option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="productUnit" class="form-label">單位</label>
                      <input type="text" class="form-control" id="productUnit" aria-describedby="productUnit" placeholder="請輸入單位" v-model="tempProduct.unit" />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col">
                      <label for="productOriginPrice" class="form-label">原價</label>
                      <input type="number" class="form-control" id="productOriginPrice" aria-describedby="productOriginPrice" placeholder="請輸入原價" v-model.number="tempProduct.origin_price" />
                    </div>
                    <div class="col">
                      <label for="productPrice" class="form-label">售價</label>
                      <input type="number" class="form-control" id="productPrice" aria-describedby="productPrice" placeholder="請輸入售價" v-model.number="tempProduct.price" />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="productDescription" class="form-label">商品介紹</label>
                    <textarea
                      class="form-control"
                      id="productDescription"
                      aria-describedby="productDescription"
                      placeholder="請輸入商品介紹"
                      v-model="tempProduct.description"
                      style="height: 100px; resize: none"
                    ></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="productContent" class="form-label">內容物</label>
                    <input type="text" class="form-control" id="productContent" aria-describedby="productContent" placeholder="請輸入內容物" v-model="tempProduct.content" />
                  </div>
                  <div class="mb-3">
                    <label for="productLocation" class="form-label">產地</label>
                    <input type="text" class="form-control" id="productLocation" aria-describedby="productLocation" placeholder="請輸入產地" v-model="tempProduct.location" />
                  </div>
                  <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="isEnabled" v-model="tempProduct.is_enabled" value="" />
                    <label for="isEnabled" class="form-check-label">是否上架</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" @click="updateProduct">確認</button>
          </div>
        </div>
      </div>
    </script>
    <!-- product-modal-template end-->
    <!-- delete-modal-template start-->
    <script type="text/x-template" id="delete-modal-template">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-danger">
            <h5 class="modal-title text-white" id="exampleModalLabel">刪除商品</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">是否刪除 <span class="text-danger">{{tempProduct.title}}</span> 商品（刪除後將無法恢復）。</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
            <button type="button" class="btn btn-danger" @click="deleteProduct">確認刪除</button>
          </div>
        </div>
      </div>
    </script>
    <!-- delete-modal-template end-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.2/axios.min.js"></script>
    <script src="./product.js" type="module"></script>
  </body>
</html>
